/* CSS của An Hào */
.anhao-button-container {
  display: flex;
}

.anhao-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.anhao-btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.anhao-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.anhao-btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
